body {
    color: #333;
  }
  
  .cardsSet {
    display: flex;
    align-items: stretch;
  }

  .cardsSet book-card{
    cursor: pointer;
    border-radius: 8px;
    
  }

  .cardbox{
    padding: 0 4% 4% 4%;
  }
  